@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,400;0,500;0,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Clicker+Script&display=swap");

$color-upheader-black: #292621;
$color-upheader-border: #edeff2;
$color-header: #141547;
$color-white: #fff;
$color-red: #ff2020;
$color-crossed-price: #c7bd9c;
$color-background-gray: #f6f6f6;
$color-background-beige: #f3ead8;
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body,
html {
  font-family: "Jost", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #000;
  background-color: #fff;
}

body {
  overflow-x: hidden;
  min-height: 100vh;
}

li {
  list-style: none;
}

.container {
  width: 100%;
  max-width: 1296px;
  margin: 0 auto;
  padding: 0 5px;
}

.upheader_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.upheader {
  border-bottom: 1px solid $color-upheader-border;
  &_left {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 0;
    &_list {
      display: flex;
      justify-content: center;
      align-items: center;
      list-style: none;
      gap: 30px;
      &_item {
        &_link {
          text-decoration: none;
          font-size: 14px;
          color: $color-upheader-black;
          transition: 0.3s ease;
          &:hover {
            color: $color-red;
          }
        }
      }
    }
  }
  &_right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 0;
    gap: 14px;
    &_order_list {
      display: flex;
      justify-content: center;
      align-items: center;
      list-style: none;
      gap: 15px;
      &_item {
        padding-right: 15px;
        border-right: 1px solid $color-upheader-border;
        &_link {
          text-decoration: none;
          font-size: 14px;
          color: $color-upheader-black;
          transition: all 0.3s ease;
          &:hover {
            color: $color-red;
          }
        }
      }
    }
    &_social {
      display: flex;
      justify-content: center;
      align-items: center;
      list-style: none;
      gap: 14px;
      &_item {
        &_icon {
          text-decoration: none;
          font-size: 14px;
          i {
            color: #74706b;
            transition: all 0.3s ease;
          }
          &:hover {
            i {
              color: $color-red;
              transform: rotate3d(0, 1, 0, 180deg);
            }
          }
        }
      }
    }
  }
}

.header {
  position: sticky;
  top: 0px;
  z-index: 3;
  background-color: white;
  &_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
  }
  &_menu {
    &_list {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 42px;
      list-style: none;
      &_item {
        padding: 20px 0;
        position: relative;
        &_submenu {
          display: flex;
          flex-direction: column;
          gap: 12px;
          position: absolute;
          width: 170px;
          background: #fff;
          top: 90%;
          left: 0;
          padding: 17px 10px;
          z-index: 1;
          list-style: none;
          box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.05);
          border-top: 3px solid #ff2020;
          border-radius: 7px 7px 3px 3px;
          &_item {
            &_link {
              color: $color-upheader-black;
              text-transform: capitalize;
              font-size: 16px;
              font-weight: 600;
              text-decoration: none;
              padding: 0 10px;
              transition: all 0.3s ease;
              &:hover {
                color: $color-red;
              }
            }
          }
        }
        &_pages {
          i {
            font-size: 12px;
          }
          &:hover i {
            color: $color-header;
          }
        }
        &_link {
          text-decoration: none;
          color: $color-header;
          font-weight: 600;
          font-size: 16px;
          transition: all 0.3s ease;
          &:hover {
            color: $color-red;
          }
          &_new {
            position: relative;
            &::after {
              content: "New";
              position: absolute;
              top: -10px;
              right: -5px;
              display: inline-block;
              padding: 0 5px;
              background-color: $color-red;
              color: $color-white;
              font-size: 9px;
              font-weight: 600;
              border-radius: 5px;
            }
          }
        }
      }
    }
  }
  &_buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 26px;
    &_item.header_cart {
      position: relative;
      .header_cart_number {
        transition: all 0.4s ease-out 0s;
        position: absolute;
        background: #ff2020;
        color: #fff;
        text-align: center;
        border-radius: 50%;
        font-size: 12px;
        top: -13px;
        right: -11px;
        padding: 1px 7px;
      }
    }
    &_item {
      &_link {
        text-decoration: none;
        i {
          color: $color-upheader-black;
          font-size: 24px;
          transition: 0.3s ease;
          &:hover {
            color: $color-red;
          }
        }
      }
    }
  }
  &_sale {
    display: flex;
    justify-content: center;
    background-color: #000;
    color: #fff;
    padding: 11px 0;
    &_p {
      font-size: 16px;
      &_btn {
        text-decoration: none;
        color: #cebd9c;
        font-weight: 500;
        border-bottom: 2px solid #cebd9c;
        transition: 0.3s ease;
        &:hover {
          letter-spacing: 1px;
        }
      }
    }
  }
  &_bar_menu {
    display: none;
    position: absolute;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    padding: 12px 20px;
    z-index: 2;
    background: #4c4c4c;
    &_btn {
      outline: none;
      border: none;
      text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
      padding: 7px 10px;
      border-radius: 4px;
      background-color: #222;
      color: #fff;
      font-size: 16px;
      font-weight: 600;
      text-align: center;
      font-family: "Jost", sans-serif;
      &_span {
        margin-right: 5px;
      }
    }
    &_box {
      position: absolute;
      top: 100%;
      width: 100%;
      left: 0;
      background: #4c4c4c;
      z-index: 2;
      padding: 10px 20px;
      &_list {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 10px;
        font-size: 14px;
        color: $color-white;
        &_item {
          &_link {
            text-decoration: none;
            color: $color-white;
            transition: 0.3s ease;
            &:hover {
              color: $color-red;
            }
          }
        }
      }
    }
  }
  &_search {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
    &_form {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      width: 100%;
      max-width: 1200px;
      background-color: $color-red;
      &_input {
        width: 95%;
        padding: 11.5px 0;
        outline: none;
        border: none;
        background-color: transparent;
        color: $color-white;
        font-family: "Jost", sans-serif;
        font-size: 16px;
        &::placeholder {
          color: $color-white;
          font-family: "Jost", sans-serif;
        }
      }
      &_btn {
        justify-self: flex-end;
        outline: none;
        border: none;
        background-color: transparent;
        color: $color-white;
        font-size: 16px;
        cursor: pointer;
        transition: 0.3s ease;
        i {
          font-size: 24px;
        }
      }
    }
  }
}

.header_bar {
  position: relative;
}

.slider {
  width: 100%;
  height: 700px;
  position: relative;
}
.main {
  &_slider2 {
    background-image: url(../../assets/images/indexPage/h1_hero2.jpg) !important;
  }
  &_slider,
  &_slider2 {
    position: absolute;
    top: 0px;
    background-image: url(../../assets/images/indexPage/h1_hero1.jpg);
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    &_container,
    &_container2 {
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }
    &_container2 {
      justify-content: flex-end !important;
    }
    &_left_btn,
    &_right_btn {
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      color: $color-white;
      height: 100px;
      width: 50px;
      font-size: 24px;
      cursor: pointer;
      transition: 0.4s ease;
      background: rgba(41, 38, 33, 0.355);
      border: none;
      outline: none;
      &:hover {
        background: $color-upheader-black;
      }
    }
    &_right_btn {
      left: auto;
      right: 0;
    }
    &_box {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 20px;
      width: 41%;
      &_title {
        text-align: center;
        font-family: "Jost", sans-serif;
        font-size: 55px;
        font-weight: 500;
        color: $color-upheader-black;
        line-height: 1.3;
        text-transform: capitalize;
      }
      &_logo {
        color: $color-red;
        font-family: "Clicker Script", cursive;
        font-size: 50px;
        line-height: 1.2;
        font-weight: 400;
      }
      &_p {
        font-size: 18px;
        font-weight: 400;
        color: #74706b;
        line-height: 1.6;
        text-align: center;
        padding: 0 50px;
      }
      &_btn {
        background: #292621;
        font-weight: 500;
        border: 1px solid $color-upheader-black;
        text-transform: uppercase;
        color: $color-white;
        padding: 15px 47px;
        line-height: 16px;
        font-size: 14px;
        border-radius: 0;
        text-decoration: none;
        transition: 0.3s ease;
        &:hover {
          background: transparent;
          color: $color-upheader-black;
        }
      }
    }
  }
  &_products {
    padding: 30px 0;
    &_categories {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 1fr;
      gap: 30px;

      &_box {
        position: relative;
        width: 100%;
        overflow: hidden;
        &:hover &_img {
          transform: scale(1.04);
        }
        &:hover &_desc {
          bottom: 25px;
        }
        &_img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          transition: 0.3s ease;
          transform: scale(1);
        }
        &::before {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 40%;
          z-index: 1;
          background: linear-gradient(
            to bottom,
            rgba(41, 38, 33, 0) 0%,
            #292621 100%
          );
        }
        &_desc {
          position: absolute;
          bottom: -30px;
          right: 0;
          left: 0;
          z-index: 2;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          transition: bottom 0.5s ease;
          &_h4 {
            font-size: 24px;
            font-weight: 600;
            color: $color-white;
            text-transform: capitalize;
            margin-bottom: 20px;
          }
        }
      }
    }
    &_trending {
      padding: 95px 0;
      &_title {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 40px;
        border-bottom: 1px solid $color-upheader-border;
        &_h2 {
          font-size: 34px;
          font-weight: 500;
          line-height: 1.3;
        }
        &_categories {
          display: flex;
          gap: 15px;
          align-items: center;
          &_category {
            padding: 0px 12px 36px;
            font-weight: 500;
            text-decoration: none;
            color: $color-upheader-black;
            border-bottom: 4px solid transparent;
            transition: all 0.4s ease;
            &:hover {
              color: $color-red;
              border-bottom: 4px solid $color-red;
            }
          }
          &_category.active {
            color: $color-red;
            border-bottom: 4px solid $color-red;
          }
        }
      }
      &_boxes {
        display: flex;
        justify-content: center;
        align-items: center;
        &_wrapper {
          width: 90%;
        }
        &_box {
          display: flex;
          flex-direction: column;
          gap: 15px;
          &:hover &_image {
            &_btns {
              opacity: 1;
            }
            &_img {
              transform: scale(1.04);
            }
          }
          &_image {
            position: relative;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
            &_btns {
              position: absolute;
              bottom: 20px;
              display: flex;
              justify-content: center;
              align-items: center;
              z-index: 1;
              opacity: 0;
              transition: 0.5s ease;
              &_btn {
                display: flex;
                justify-content: center;
                align-items: center;
                text-decoration: none;
                width: 50px;
                height: 50px;
                background: $color-white;
                color: $color-upheader-black;
                font-size: 20px;
                cursor: pointer;
                transition: 0.3s ease;
                &:hover {
                  background: $color-red;
                }
              }
            }
            &_img {
              width: 95%;
              height: 95%;
              object-fit: cover;
              transition: 0.3s ease;
            }
          }
          &_desc {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
            &_title {
              text-decoration: none;
              color: $color-upheader-black;
            }
            &_price {
              font-size: 16px;
              font-weight: 500;
              cursor: pointer;
              color: #74706b;

              &_old {
                text-decoration: line-through;
                color: #cebd9c;
                margin-left: 12px;
              }
            }
          }
        }
      }
    }
  }
  &_testimonials {
    background: $color-background-beige;
    &_container {
      padding: 80px 0;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &_sliders {
      &_wrapper {
        &_list {
          &_item {
            &_wrap {
              display: flex;
              flex-direction: column;
              align-items: center;
              gap: 40px;
              &_h2 {
                font-size: 34px;
                font-weight: 500;
                color: $color-upheader-black;
              }
              &_desc {
                line-height: 1.5;
                padding: 0 330px;
                font-size: 22px;
                color: $color-upheader-black;
                font-weight: 400;
                text-align: center;
              }
              &_customer {
                display: flex;
                align-items: center;
                gap: 15px;
                &_logo {
                  width: 63px;
                  height: 63px;
                  object-fit: cover;
                }
                &_text {
                  &_name {
                    font-size: 14px;
                    color: $color-upheader-black;
                    text-align: left;
                    font-weight: 500;
                  }
                  &_profession {
                    color: #74706b;
                    font-weight: 500;
                    line-height: 1.5;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  &_items {
    &_container {
      padding: 100px 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 40px;
    }
    &_title {
      font-size: 34px;
      font-weight: 500;
      line-height: 1.4;
      color: $color-upheader-black;
    }
    &_boxes {
      display: flex;
      justify-content: center;
      align-items: center;
      &_wrapper {
        width: 90%;
      }
      &_box {
        display: flex;
        flex-direction: column;
        gap: 15px;
        &:hover &_image {
          &_btns {
            opacity: 1;
          }
          &_img {
            transform: scale(1.04);
          }
        }
        &_image {
          position: relative;
          overflow: hidden;
          display: flex;
          justify-content: center;
          align-items: center;
          &_btns {
            position: absolute;
            bottom: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 1;
            opacity: 0;
            transition: 0.5s ease;
            &_btn {
              display: flex;
              justify-content: center;
              align-items: center;
              text-decoration: none;
              width: 50px;
              height: 50px;
              background: $color-white;
              color: $color-upheader-black;
              font-size: 20px;
              cursor: pointer;
              transition: 0.3s ease;
              &:hover {
                background: $color-red;
              }
            }
          }
          &_img {
            width: 95%;
            height: 95%;
            object-fit: cover;
            transition: 0.3s ease;
          }
        }
        &_desc {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 10px;
          &_title {
            text-decoration: none;
            color: $color-upheader-black;
          }
          &_price {
            font-size: 16px;
            font-weight: 500;
            cursor: pointer;
            color: #74706b;

            &_old {
              text-decoration: line-through;
              color: #cebd9c;
              margin-left: 12px;
            }
          }
        }
      }
    }
  }
  &_news {
    background-color: #f6f6f6;
    &_container {
      padding: 80px 0 29px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 40px;
    }
    &_title {
      font-size: 34px;
      font-weight: 500;
      line-height: 1.4;
      color: $color-upheader-black;
    }
    &_boxes {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 24px;

      &_box {
        display: flex;
        flex-direction: column;
        overflow: hidden;
        gap: 12px;
        &_image {
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-bottom: 12px;
          cursor: pointer;
          &_img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        &_subtitle,
        &_desc {
          color: #74706b;
        }
        &_title {
          font-size: 22px;
          line-height: 1.4;
          font-weight: 500;
          color: $color-upheader-black;
          text-decoration: none;
          transition: 0.4s ease;
          &:hover {
            color: $color-red;
          }
        }
        &_btn {
          font-weight: 600;
          color: $color-upheader-black;
          transition: 0.4s ease;
          &:hover {
            letter-spacing: 1px;
          }
        }
      }
    }
  }
  &_features {
    &_container {
      padding: 65px 0px;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
    }
    &_card {
      display: flex;
      flex-direction: column;
      align-items: center;
      flex: 1 1 25%;
      gap: 12px;
      border-right: 1px solid $color-upheader-border;
      &_icon {
        margin-bottom: 15px;
      }
      &_title {
        font-size: 20px;
        font-weight: 500;
        color: $color-upheader-black;
      }
      &_desc {
        color: #57667e;
      }
    }
  }
}

.footer {
  background-color: #171613;
  color: $color-white;
  &_container {
    padding: 63px 0 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }
  &_subscribe {
    display: flex;
    width: 100%;
    padding-bottom: 40px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    justify-content: space-between;
    align-items: center;
    &_desc {
      flex: 1 1 30%;
      padding-left: 12px;
      display: flex;
      flex-direction: column;
      gap: 12px;
      &_title {
        font-size: 24px;
        font-weight: 500;
        line-height: 1.3;
      }
      &_p {
        font-size: 15px;
        line-height: 1.6;
        font-weight: 400;
      }
    }
    &_form {
      flex: 1 1 40%;
      display: flex;
      align-items: center;
      gap: 10px;
      &_input {
        width: 74%;
        height: 60px;
        border: 0;
        color: #000;
        background: #fff;
        border: 1px solid rgba(255, 255, 255, 0.2);
        border-radius: 0;
        padding: 15px 24px;
        font-size: 16px;
        outline: none;
        &::placeholder {
          color: #000;
          font-family: "Jost", sans-serif;
        }
      }
      &_btn {
        font-family: "Jost", sans-serif;
        width: 24%;
        height: 60px;
        border: 0;
        background: #ff2020;
        border-radius: 0;
        padding: 13px 24px;
        color: #fff;
        margin-left: 5px;
        cursor: pointer;
        font-size: 16px;
        font-weight: 500;
        text-align: center;
      }
    }
    &_icons {
      flex: 1 1 20%;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 23px;
      font-size: 24px;
      &_link {
        color: #677f8b;
        i {
          transition: 0.4s ease;
        }
        &:hover {
          i {
            color: $color-red;
            transform: rotate3d(0, 1, 0, 180deg);
          }
        }
      }
    }
  }
  &_sections {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;
    padding: 0 12px;
    &_section {
      display: flex;
      flex-direction: column;
      gap: 40px;
      &_title {
        font-size: 18px;
        font-weight: 400;
      }
      &_list {
        display: flex;
        flex-direction: column;
        gap: 8px;
        &_item {
          &_link {
            color: #bbb9b5;
            text-decoration: underline transparent;
            transition: 0.4s ease;
            &:hover {
              letter-spacing: 0.4px;
              text-decoration: underline #bbb9b5;
            }
          }
        }
      }
    }
  }
}
.footer_bottom {
  background-color: #171613;
  color: $color-white;
  &_container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0 15px;
  }
  &_p {
    text-align: center;
    &_link {
      color: $color-red;
      text-decoration: none;
    }
  }
}
.hide {
  display: none;
}

@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

@media (max-width: 1400px) and (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (max-width: 1200px) and (min-width: 992px) {
  .container {
    max-width: 960px;
  }
  .header_menu_list {
    gap: 20px;
  }

  .main_testimonials_sliders_wrapper_list_item_wrap_desc {
    font-size: 20px;
    padding: 0px 100px;
  }
}
@media (max-width: 992px) {
  .main_features_container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 50px;
  }

  .footer_subscribe {
    flex-direction: column;
    align-items: flex-start;
    &_desc {
      flex: 1 1 100%;
      padding: 0;
      &_p {
        margin-bottom: 15px;
      }
    }
    &_form {
      flex: 1 1 100%;
      width: 100%;
      &_input {
        width: 50%;
      }
    }
    &_icons {
      padding-top: 20px;
      flex: 1 1 100%;
      justify-content: center;
    }
  }

  .main_features_card {
    border: none;
  }
  .main_products_categories {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  .main_news_boxes {
    grid-template-columns: repeat(2, 1fr);
  }
  .container {
    max-width: 720px;
  }
  .header_bar_menu {
    display: flex;
  }
  .header_menu_list_item {
    display: none;
  }
  .main_testimonials_sliders_wrapper_list_item_wrap_desc {
    font-size: 18px;
    padding: 0px 80px;
  }

  .main_testimonials_sliders_wrapper_list_item_wrap {
    gap: 30px;
  }
}

@media (max-width: 768px) {
  .main_products_trending_title {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    &_h2 {
      padding-left: 12px;
    }
  }
  .main_features_container {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
  .main_products_categories {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
  }
  .main_news_boxes {
    grid-template-columns: repeat(1, 1fr);
    &_box {
      text-align: center;
    }
  }
  .container {
    max-width: 540px;
  }
  .upheader_left {
    display: none;
  }
  .upheader_container {
    justify-content: center;
  }
  .main_testimonials_sliders_wrapper_list_item_wrap_desc {
    font-size: 15px;
  }
  .main_testimonials_sliders_wrapper_list_item_wrap {
    gap: 25px;
  }

  .main_testimonials_sliders_wrapper_list_item_wrap_h2 {
    font-size: 29px;
  }
}

@media (max-width: 576px) {
  .main_products_trending_title {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    &_h2 {
      padding-left: 12px;
    }
    &_categories {
      display: none;
    }
  }
  .main_features_container {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
  .main_products_categories {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
  }
  .main_news_boxes {
    grid-template-columns: repeat(1, 1fr);
    &_box {
      text-align: center;
    }
  }
  .container {
    max-width: 360px;
  }
  .upheader {
    display: none;
  }
  .header_buttons {
    display: none;
  }
  .main_testimonials_sliders_wrapper_list_item_wrap_desc {
    font-size: 15px;
  }
  .main_testimonials_sliders_wrapper_list_item_wrap {
    gap: 25px;
  }

  .main_testimonials_sliders_wrapper_list_item_wrap_h2 {
    font-size: 29px;
  }
  .footer_subscribe_form {
    flex-direction: column;
    align-items: start;
    &_input {
      width: 80%;
    }
    &_btn {
      width: 80%;
      padding: 15px 24px;
      margin: 0;
    }
  }

  .main_slider {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .main_slider_container {
    justify-content: center;
    margin: 0;
  }
  .main_slider_box {
    width: 100%;
    &_p {
      padding: 0;
    }
  }
}
