$color-upheader-black: #292621;
$color-header: #141547;
$color-white: #fff;
$color-red: #ff2020;
$color-crossed-price: #c7bd9c;

@import "./index";

@import "./login_signup";

@import "./_contact";

@import "./_cart";
