@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,400;0,500;0,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Clicker+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,400;0,500;0,600;1,700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body,
html {
  font-family: "Jost", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #000;
  background-color: #fff;
}

body {
  overflow-x: hidden;
  min-height: 100vh;
}

li {
  list-style: none;
}

.container {
  width: 100%;
  max-width: 1296px;
  margin: 0 auto;
  padding: 0 5px;
}

.upheader_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.upheader {
  border-bottom: 1px solid #edeff2;
}
.upheader_left {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 0;
}
.upheader_left_list {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 30px;
}
.upheader_left_list_item_link {
  text-decoration: none;
  font-size: 14px;
  color: #292621;
  transition: 0.3s ease;
}
.upheader_left_list_item_link:hover {
  color: #ff2020;
}
.upheader_right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 0;
  gap: 14px;
}
.upheader_right_order_list {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 15px;
}
.upheader_right_order_list_item {
  padding-right: 15px;
  border-right: 1px solid #edeff2;
}
.upheader_right_order_list_item_link {
  text-decoration: none;
  font-size: 14px;
  color: #292621;
  transition: all 0.3s ease;
}
.upheader_right_order_list_item_link:hover {
  color: #ff2020;
}
.upheader_right_social {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 14px;
}
.upheader_right_social_item_icon {
  text-decoration: none;
  font-size: 14px;
}
.upheader_right_social_item_icon i {
  color: #74706b;
  transition: all 0.3s ease;
}
.upheader_right_social_item_icon:hover i {
  color: #ff2020;
  transform: rotate3d(0, 1, 0, 180deg);
}

.header {
  position: sticky;
  top: 0px;
  z-index: 3;
  background-color: white;
}
.header_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}
.header_menu_list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 42px;
  list-style: none;
}
.header_menu_list_item {
  padding: 20px 0;
  position: relative;
}
.header_menu_list_item_submenu {
  display: flex;
  flex-direction: column;
  gap: 12px;
  position: absolute;
  width: 170px;
  background: #fff;
  top: 90%;
  left: 0;
  padding: 17px 10px;
  z-index: 1;
  list-style: none;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.05);
  border-top: 3px solid #ff2020;
  border-radius: 7px 7px 3px 3px;
}
.header_menu_list_item_submenu_item_link {
  color: #292621;
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  padding: 0 10px;
  transition: all 0.3s ease;
}
.header_menu_list_item_submenu_item_link:hover {
  color: #ff2020;
}
.header_menu_list_item_pages i {
  font-size: 12px;
}
.header_menu_list_item_pages:hover i {
  color: #141547;
}
.header_menu_list_item_link {
  text-decoration: none;
  color: #141547;
  font-weight: 600;
  font-size: 16px;
  transition: all 0.3s ease;
}
.header_menu_list_item_link:hover {
  color: #ff2020;
}
.header_menu_list_item_link_new {
  position: relative;
}
.header_menu_list_item_link_new::after {
  content: "New";
  position: absolute;
  top: -10px;
  right: -5px;
  display: inline-block;
  padding: 0 5px;
  background-color: #ff2020;
  color: #fff;
  font-size: 9px;
  font-weight: 600;
  border-radius: 5px;
}
.header_buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 26px;
}
.header_buttons_item.header_cart {
  position: relative;
}
.header_buttons_item.header_cart .header_cart_number {
  transition: all 0.4s ease-out 0s;
  position: absolute;
  background: #ff2020;
  color: #fff;
  text-align: center;
  border-radius: 50%;
  font-size: 12px;
  top: -13px;
  right: -11px;
  padding: 1px 7px;
}
.header_buttons_item_link {
  text-decoration: none;
}
.header_buttons_item_link i {
  color: #292621;
  font-size: 24px;
  transition: 0.3s ease;
}
.header_buttons_item_link i:hover {
  color: #ff2020;
}
.header_sale {
  display: flex;
  justify-content: center;
  background-color: #000;
  color: #fff;
  padding: 11px 0;
}
.header_sale_p {
  font-size: 16px;
}
.header_sale_p_btn {
  text-decoration: none;
  color: #cebd9c;
  font-weight: 500;
  border-bottom: 2px solid #cebd9c;
  transition: 0.3s ease;
}
.header_sale_p_btn:hover {
  letter-spacing: 1px;
}
.header_bar_menu {
  display: none;
  position: absolute;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  padding: 12px 20px;
  z-index: 2;
  background: #4c4c4c;
}
.header_bar_menu_btn {
  outline: none;
  border: none;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  padding: 7px 10px;
  border-radius: 4px;
  background-color: #222;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  font-family: "Jost", sans-serif;
}
.header_bar_menu_btn_span {
  margin-right: 5px;
}
.header_bar_menu_box {
  position: absolute;
  top: 100%;
  width: 100%;
  left: 0;
  background: #4c4c4c;
  z-index: 2;
  padding: 10px 20px;
}
.header_bar_menu_box_list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 14px;
  color: #fff;
}
.header_bar_menu_box_list_item_link {
  text-decoration: none;
  color: #fff;
  transition: 0.3s ease;
}
.header_bar_menu_box_list_item_link:hover {
  color: #ff2020;
}
.header_search {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}
.header_search_form {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  background-color: #ff2020;
}
.header_search_form_input {
  width: 95%;
  padding: 11.5px 0;
  outline: none;
  border: none;
  background-color: transparent;
  color: #fff;
  font-family: "Jost", sans-serif;
  font-size: 16px;
}
.header_search_form_input::placeholder {
  color: #fff;
  font-family: "Jost", sans-serif;
}
.header_search_form_btn {
  justify-self: flex-end;
  outline: none;
  border: none;
  background-color: transparent;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s ease;
}
.header_search_form_btn i {
  font-size: 24px;
}

.header_bar {
  position: relative;
}

.slider {
  width: 100%;
  height: 700px;
  position: relative;
}

.main_slider2 {
  background-image: url(../../assets/images/indexPage/h1_hero2.jpg) !important;
}
.main_slider, .main_slider2 {
  position: absolute;
  top: 0px;
  background-image: url(../../assets/images/indexPage/h1_hero1.jpg);
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.main_slider_container, .main_slider_container2, .main_slider2_container, .main_slider2_container2 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.main_slider_container2, .main_slider2_container2 {
  justify-content: flex-end !important;
}
.main_slider_left_btn, .main_slider_right_btn, .main_slider2_left_btn, .main_slider2_right_btn {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
  height: 100px;
  width: 50px;
  font-size: 24px;
  cursor: pointer;
  transition: 0.4s ease;
  background: rgba(41, 38, 33, 0.355);
  border: none;
  outline: none;
}
.main_slider_left_btn:hover, .main_slider_right_btn:hover, .main_slider2_left_btn:hover, .main_slider2_right_btn:hover {
  background: #292621;
}
.main_slider_right_btn, .main_slider2_right_btn {
  left: auto;
  right: 0;
}
.main_slider_box, .main_slider2_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 41%;
}
.main_slider_box_title, .main_slider2_box_title {
  text-align: center;
  font-family: "Jost", sans-serif;
  font-size: 55px;
  font-weight: 500;
  color: #292621;
  line-height: 1.3;
  text-transform: capitalize;
}
.main_slider_box_logo, .main_slider2_box_logo {
  color: #ff2020;
  font-family: "Clicker Script", cursive;
  font-size: 50px;
  line-height: 1.2;
  font-weight: 400;
}
.main_slider_box_p, .main_slider2_box_p {
  font-size: 18px;
  font-weight: 400;
  color: #74706b;
  line-height: 1.6;
  text-align: center;
  padding: 0 50px;
}
.main_slider_box_btn, .main_slider2_box_btn {
  background: #292621;
  font-weight: 500;
  border: 1px solid #292621;
  text-transform: uppercase;
  color: #fff;
  padding: 15px 47px;
  line-height: 16px;
  font-size: 14px;
  border-radius: 0;
  text-decoration: none;
  transition: 0.3s ease;
}
.main_slider_box_btn:hover, .main_slider2_box_btn:hover {
  background: transparent;
  color: #292621;
}
.main_products {
  padding: 30px 0;
}
.main_products_categories {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  gap: 30px;
}
.main_products_categories_box {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.main_products_categories_box:hover .main_products_categories_box_img {
  transform: scale(1.04);
}
.main_products_categories_box:hover .main_products_categories_box_desc {
  bottom: 25px;
}
.main_products_categories_box_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.3s ease;
  transform: scale(1);
}
.main_products_categories_box::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40%;
  z-index: 1;
  background: linear-gradient(to bottom, rgba(41, 38, 33, 0) 0%, #292621 100%);
}
.main_products_categories_box_desc {
  position: absolute;
  bottom: -30px;
  right: 0;
  left: 0;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: bottom 0.5s ease;
}
.main_products_categories_box_desc_h4 {
  font-size: 24px;
  font-weight: 600;
  color: #fff;
  text-transform: capitalize;
  margin-bottom: 20px;
}
.main_products_trending {
  padding: 95px 0;
}
.main_products_trending_title {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
  border-bottom: 1px solid #edeff2;
}
.main_products_trending_title_h2 {
  font-size: 34px;
  font-weight: 500;
  line-height: 1.3;
}
.main_products_trending_title_categories {
  display: flex;
  gap: 15px;
  align-items: center;
}
.main_products_trending_title_categories_category {
  padding: 0px 12px 36px;
  font-weight: 500;
  text-decoration: none;
  color: #292621;
  border-bottom: 4px solid transparent;
  transition: all 0.4s ease;
}
.main_products_trending_title_categories_category:hover {
  color: #ff2020;
  border-bottom: 4px solid #ff2020;
}
.main_products_trending_title_categories_category.active {
  color: #ff2020;
  border-bottom: 4px solid #ff2020;
}
.main_products_trending_boxes {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main_products_trending_boxes_wrapper {
  width: 90%;
}
.main_products_trending_boxes_box {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.main_products_trending_boxes_box:hover .main_products_trending_boxes_box_image_btns {
  opacity: 1;
}
.main_products_trending_boxes_box:hover .main_products_trending_boxes_box_image_img {
  transform: scale(1.04);
}
.main_products_trending_boxes_box_image {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main_products_trending_boxes_box_image_btns {
  position: absolute;
  bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  opacity: 0;
  transition: 0.5s ease;
}
.main_products_trending_boxes_box_image_btns_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  width: 50px;
  height: 50px;
  background: #fff;
  color: #292621;
  font-size: 20px;
  cursor: pointer;
  transition: 0.3s ease;
}
.main_products_trending_boxes_box_image_btns_btn:hover {
  background: #ff2020;
}
.main_products_trending_boxes_box_image_img {
  width: 95%;
  height: 95%;
  object-fit: cover;
  transition: 0.3s ease;
}
.main_products_trending_boxes_box_desc {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.main_products_trending_boxes_box_desc_title {
  text-decoration: none;
  color: #292621;
}
.main_products_trending_boxes_box_desc_price {
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  color: #74706b;
}
.main_products_trending_boxes_box_desc_price_old {
  text-decoration: line-through;
  color: #cebd9c;
  margin-left: 12px;
}
.main_testimonials {
  background: #f3ead8;
}
.main_testimonials_container {
  padding: 80px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main_testimonials_sliders_wrapper_list_item_wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
.main_testimonials_sliders_wrapper_list_item_wrap_h2 {
  font-size: 34px;
  font-weight: 500;
  color: #292621;
}
.main_testimonials_sliders_wrapper_list_item_wrap_desc {
  line-height: 1.5;
  padding: 0 330px;
  font-size: 22px;
  color: #292621;
  font-weight: 400;
  text-align: center;
}
.main_testimonials_sliders_wrapper_list_item_wrap_customer {
  display: flex;
  align-items: center;
  gap: 15px;
}
.main_testimonials_sliders_wrapper_list_item_wrap_customer_logo {
  width: 63px;
  height: 63px;
  object-fit: cover;
}
.main_testimonials_sliders_wrapper_list_item_wrap_customer_text_name {
  font-size: 14px;
  color: #292621;
  text-align: left;
  font-weight: 500;
}
.main_testimonials_sliders_wrapper_list_item_wrap_customer_text_profession {
  color: #74706b;
  font-weight: 500;
  line-height: 1.5;
}
.main_items_container {
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
.main_items_title {
  font-size: 34px;
  font-weight: 500;
  line-height: 1.4;
  color: #292621;
}
.main_items_boxes {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main_items_boxes_wrapper {
  width: 90%;
}
.main_items_boxes_box {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.main_items_boxes_box:hover .main_items_boxes_box_image_btns {
  opacity: 1;
}
.main_items_boxes_box:hover .main_items_boxes_box_image_img {
  transform: scale(1.04);
}
.main_items_boxes_box_image {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main_items_boxes_box_image_btns {
  position: absolute;
  bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  opacity: 0;
  transition: 0.5s ease;
}
.main_items_boxes_box_image_btns_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  width: 50px;
  height: 50px;
  background: #fff;
  color: #292621;
  font-size: 20px;
  cursor: pointer;
  transition: 0.3s ease;
}
.main_items_boxes_box_image_btns_btn:hover {
  background: #ff2020;
}
.main_items_boxes_box_image_img {
  width: 95%;
  height: 95%;
  object-fit: cover;
  transition: 0.3s ease;
}
.main_items_boxes_box_desc {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.main_items_boxes_box_desc_title {
  text-decoration: none;
  color: #292621;
}
.main_items_boxes_box_desc_price {
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  color: #74706b;
}
.main_items_boxes_box_desc_price_old {
  text-decoration: line-through;
  color: #cebd9c;
  margin-left: 12px;
}
.main_news {
  background-color: #f6f6f6;
}
.main_news_container {
  padding: 80px 0 29px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
.main_news_title {
  font-size: 34px;
  font-weight: 500;
  line-height: 1.4;
  color: #292621;
}
.main_news_boxes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 24px;
}
.main_news_boxes_box {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  gap: 12px;
}
.main_news_boxes_box_image {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 12px;
  cursor: pointer;
}
.main_news_boxes_box_image_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.main_news_boxes_box_subtitle, .main_news_boxes_box_desc {
  color: #74706b;
}
.main_news_boxes_box_title {
  font-size: 22px;
  line-height: 1.4;
  font-weight: 500;
  color: #292621;
  text-decoration: none;
  transition: 0.4s ease;
}
.main_news_boxes_box_title:hover {
  color: #ff2020;
}
.main_news_boxes_box_btn {
  font-weight: 600;
  color: #292621;
  transition: 0.4s ease;
}
.main_news_boxes_box_btn:hover {
  letter-spacing: 1px;
}
.main_features_container {
  padding: 65px 0px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.main_features_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 1 25%;
  gap: 12px;
  border-right: 1px solid #edeff2;
}
.main_features_card_icon {
  margin-bottom: 15px;
}
.main_features_card_title {
  font-size: 20px;
  font-weight: 500;
  color: #292621;
}
.main_features_card_desc {
  color: #57667e;
}

.footer {
  background-color: #171613;
  color: #fff;
}
.footer_container {
  padding: 63px 0 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.footer_subscribe {
  display: flex;
  width: 100%;
  padding-bottom: 40px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  justify-content: space-between;
  align-items: center;
}
.footer_subscribe_desc {
  flex: 1 1 30%;
  padding-left: 12px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.footer_subscribe_desc_title {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.3;
}
.footer_subscribe_desc_p {
  font-size: 15px;
  line-height: 1.6;
  font-weight: 400;
}
.footer_subscribe_form {
  flex: 1 1 40%;
  display: flex;
  align-items: center;
  gap: 10px;
}
.footer_subscribe_form_input {
  width: 74%;
  height: 60px;
  border: 0;
  color: #000;
  background: #fff;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 0;
  padding: 15px 24px;
  font-size: 16px;
  outline: none;
}
.footer_subscribe_form_input::placeholder {
  color: #000;
  font-family: "Jost", sans-serif;
}
.footer_subscribe_form_btn {
  font-family: "Jost", sans-serif;
  width: 24%;
  height: 60px;
  border: 0;
  background: #ff2020;
  border-radius: 0;
  padding: 13px 24px;
  color: #fff;
  margin-left: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
}
.footer_subscribe_icons {
  flex: 1 1 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 23px;
  font-size: 24px;
}
.footer_subscribe_icons_link {
  color: #677f8b;
}
.footer_subscribe_icons_link i {
  transition: 0.4s ease;
}
.footer_subscribe_icons_link:hover i {
  color: #ff2020;
  transform: rotate3d(0, 1, 0, 180deg);
}
.footer_sections {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px;
  padding: 0 12px;
}
.footer_sections_section {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.footer_sections_section_title {
  font-size: 18px;
  font-weight: 400;
}
.footer_sections_section_list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.footer_sections_section_list_item_link {
  color: #bbb9b5;
  text-decoration: underline transparent;
  transition: 0.4s ease;
}
.footer_sections_section_list_item_link:hover {
  letter-spacing: 0.4px;
  text-decoration: underline #bbb9b5;
}

.footer_bottom {
  background-color: #171613;
  color: #fff;
}
.footer_bottom_container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0 15px;
}
.footer_bottom_p {
  text-align: center;
}
.footer_bottom_p_link {
  color: #ff2020;
  text-decoration: none;
}

.hide {
  display: none;
}

.username {
  font-weight: 600;
}

.button_top {
  display: none;
  background: #ff2020;
  height: 40px;
  width: 40px;
  right: 31px;
  bottom: 18px;
  position: fixed;
  color: #fff;
  font-size: 20px;
  text-align: center;
  border-radius: 50%;
  line-height: 40px;
  border: 2px solid transparent;
  box-shadow: 0 0 10px 3px rgba(108, 98, 98, 0.2);
  cursor: pointer;
  z-index: 999;
}
.button_top.active {
  display: block;
}
.button_top i {
  animation: arrowAnim 1s infinite;
}

@keyframes arrowAnim {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-3px);
  }
  100% {
    transform: translateY(0);
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}
@media (max-width: 1400px) and (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (max-width: 1200px) and (min-width: 992px) {
  .container {
    max-width: 960px;
  }
  .header_menu_list {
    gap: 20px;
  }
  .main_testimonials_sliders_wrapper_list_item_wrap_desc {
    font-size: 20px;
    padding: 0px 100px;
  }
}
@media (max-width: 992px) {
  .main_features_container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 50px;
  }
  .footer_subscribe {
    flex-direction: column;
    align-items: flex-start;
  }
  .footer_subscribe_desc {
    flex: 1 1 100%;
    padding: 0;
  }
  .footer_subscribe_desc_p {
    margin-bottom: 15px;
  }
  .footer_subscribe_form {
    flex: 1 1 100%;
    width: 100%;
  }
  .footer_subscribe_form_input {
    width: 50%;
  }
  .footer_subscribe_icons {
    padding-top: 20px;
    flex: 1 1 100%;
    justify-content: center;
  }
  .main_features_card {
    border: none;
  }
  .main_products_categories {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  .main_news_boxes {
    grid-template-columns: repeat(2, 1fr);
  }
  .container {
    max-width: 720px;
  }
  .header_bar_menu {
    display: flex;
  }
  .header_menu_list_item {
    display: none;
  }
  .main_testimonials_sliders_wrapper_list_item_wrap_desc {
    font-size: 18px;
    padding: 0px 80px;
  }
  .main_testimonials_sliders_wrapper_list_item_wrap {
    gap: 30px;
  }
}
@media (max-width: 768px) {
  .main_slider_container {
    justify-content: center;
  }
  .main_slider_box {
    width: 90%;
  }
  .main_slider {
    height: 80%;
  }
  .main_slider2 {
    height: 80%;
  }
  .main_products_trending_title {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }
  .main_products_trending_title_h2 {
    padding-left: 12px;
  }
  .main_features_container {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
  .main_products_categories {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
  }
  .main_news_boxes {
    grid-template-columns: repeat(1, 1fr);
  }
  .main_news_boxes_box {
    text-align: center;
  }
  .container {
    max-width: 540px;
  }
  .upheader_left {
    display: none;
  }
  .upheader_container {
    justify-content: center;
  }
  .main_testimonials_sliders_wrapper_list_item_wrap_desc {
    font-size: 15px;
  }
  .main_testimonials_sliders_wrapper_list_item_wrap {
    gap: 25px;
  }
  .main_testimonials_sliders_wrapper_list_item_wrap_h2 {
    font-size: 29px;
  }
}
@media (max-width: 576px) {
  .main_slider {
    height: 70%;
  }
  .main_slider2 {
    height: 70%;
  }
  .header_container {
    justify-content: center;
  }
  .main_products_trending_title {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }
  .main_products_trending_title_h2 {
    padding-left: 12px;
  }
  .main_products_trending_title_categories {
    display: none;
  }
  .main_features_container {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
  .main_products_categories {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
  }
  .main_news_boxes {
    grid-template-columns: repeat(1, 1fr);
  }
  .main_news_boxes_box {
    text-align: center;
  }
  .container {
    max-width: 360px;
  }
  .upheader_right_social {
    display: none;
  }
  .header_buttons {
    display: none;
  }
  .main_testimonials_sliders_wrapper_list_item_wrap_desc {
    font-size: 15px;
  }
  .main_testimonials_sliders_wrapper_list_item_wrap {
    gap: 25px;
  }
  .main_testimonials_sliders_wrapper_list_item_wrap_h2 {
    font-size: 29px;
  }
  .footer_subscribe_form {
    flex-direction: column;
    align-items: start;
  }
  .footer_subscribe_form_input {
    width: 80%;
  }
  .footer_subscribe_form_btn {
    width: 80%;
    padding: 15px 24px;
    margin: 0;
  }
  .main_slider {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .main_slider_container {
    justify-content: center;
    margin: 0;
  }
  .main_slider_box {
    width: 100%;
  }
  .main_slider_box_p {
    padding: 0;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  font-family: "Jost", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #000;
  background-color: #fff;
}

body {
  overflow-x: hidden;
  min-height: 100vh;
}

li {
  list-style: none;
}

.login {
  background: #fff;
  padding: 55px 60px 50px 50px;
  box-shadow: 0px 10px 30px 0px rgba(13, 12, 13, 0.2);
  min-width: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login_container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #fff;
  padding: 15px;
}
.login_heading {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}
.login_heading_title {
  color: #140c40;
  font-size: 30px;
  font-weight: 600;
}
.login_heading_subtitle {
  line-height: 1.5;
}
.login_inputs {
  padding-top: 35px;
  padding-bottom: 75px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 25px;
  width: 100%;
}
.login_inputs_input {
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: 100%;
}
.login_inputs_input_label {
  font-size: 17px;
  color: #140c40;
  text-transform: capitalize;
  font-weight: 500;
  text-align: left;
}
.login_inputs_input_input {
  border: 1px solid #c9c9c9;
  width: 100%;
  height: 50px;
  padding: 0 25px;
  color: #000;
  outline: none;
}
.login_inputs_input_input::placeholder {
  color: #c9c9c9;
  font-family: "Jost", sans-serif;
  font-size: 14px;
}
.login_inputs_check {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.login_inputs_check_check {
  display: flex;
  gap: 10px;
  align-items: center;
}
.login_inputs_check_check_checkbox {
  width: 20px;
  height: 20px;
  border: 1px solid #9e97ac !important;
  outline: none;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login_inputs_check_check_label {
  font-size: 17px;
  color: #140c40;
  font-weight: 500;
  text-align: left;
}
.login_inputs_check_forgot {
  color: #ff2020;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
}
.login_footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.login_footer_signup_link {
  text-decoration: none;
  color: #ff2020;
}
.login_footer_button {
  background: #ff2020;
  height: 60px;
  padding: 10px 43px;
  border: 0;
  color: #fff;
  text-transform: capitalize;
  cursor: pointer;
  font-size: 16px;
  border-radius: 0px;
  font-family: "Jost", sans-serif;
}

.signup {
  background: #fff;
  padding: 55px 60px 50px 50px;
  box-shadow: 0px 10px 30px 0px rgba(13, 12, 13, 0.2);
  min-width: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.signup_container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #fff;
  padding: 15px;
}
.signup_heading {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}
.signup_heading_title {
  color: #140c40;
  font-size: 30px;
  font-weight: 600;
}
.signup_heading_subtitle {
  line-height: 1.5;
}
.signup_inputs {
  padding-top: 35px;
  padding-bottom: 75px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 25px;
  width: 100%;
}
.signup_inputs_input {
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: 100%;
}
.signup_inputs_input_label {
  font-size: 17px;
  color: #140c40;
  text-transform: capitalize;
  font-weight: 500;
  text-align: left;
}
.signup_inputs_input_input {
  border: 1px solid #c9c9c9;
  width: 100%;
  height: 50px;
  padding: 0 25px;
  color: #000;
  outline: none;
}
.signup_inputs_input_input::placeholder {
  color: #c9c9c9;
  font-family: "Jost", sans-serif;
  font-size: 14px;
}
.signup_inputs_check {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.signup_inputs_check_check {
  display: flex;
  gap: 10px;
  align-items: center;
}
.signup_inputs_check_check_checkbox {
  width: 20px;
  height: 20px;
  border: 1px solid #9e97ac !important;
  outline: none;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.signup_inputs_check_check_label {
  font-size: 17px;
  color: #140c40;
  font-weight: 500;
  text-align: left;
}
.signup_inputs_check_forgot {
  color: #ff2020;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
}
.signup_footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.signup_footer_login_link {
  text-decoration: none;
  color: #ff2020;
}
.signup_footer_button {
  background: #ff2020;
  height: 60px;
  padding: 10px 43px;
  border: 0;
  color: #fff;
  text-transform: capitalize;
  cursor: pointer;
  font-size: 16px;
  border-radius: 0px;
  font-family: "Jost", sans-serif;
}

@media (max-width: 768px) {
  .login {
    padding: 40px 20px 20px 26px;
    min-width: 95%;
  }
  .login_footer {
    flex-direction: column;
    align-items: start;
    gap: 28px;
  }
  .signup {
    padding: 40px 20px 20px 26px;
    min-width: 95%;
  }
  .signup_footer {
    flex-direction: column;
    align-items: start;
    gap: 28px;
  }
}
@media (max-width: 578px) {
  .login_inputs_check {
    flex-direction: column;
    gap: 13px;
    align-items: start;
  }
  .signup_inputs_check {
    flex-direction: column;
    gap: 13px;
    align-items: start;
  }
}/*# sourceMappingURL=styles.css.map */